
#root {
    width: 100% !important;
    height: 100% !important;
}

.card-body {
    overflow: auto;
}

.adding-subtraction-button {
    height: 30px;
    width: 25px;
    cursor: pointer;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}